{% extends "base.html" %}

{% block headjs %}{% endblock %}

{% block center_content %}
<ul class="span3 nav nav-list">
  <li class="active"><a href="#">Home</a></li>
  <li class="divider"></li>
  <li class="nav-header">Projects</li>
  <li><a href="encounter/">Encounter Manager</a></li>
  <li class="divider"></li>
  <li><a href="aboutme/">About Me</a></li>
</ul>
<div class="span9">
  Welcome to Dungeon Project. This website is many things - a testbed for my efforts to learn new frontend technologies, and a host for some personal projects, particularly my Dungeons and Dragons helper projects.
</div>
{% endblock %}

{% block end_js %}{% endblock %}
